html, body {
  background-color: #ccc;
  font-family: Arial, sans-serif;
  font-size: 15px;
}

a {
  color: #0000FF;
  img { border: none; }
}

h2 {
  font-size:18px;
  margin:0;
}

p.detail {color: #666;}

.right {float:right;}

/* Layout */

#container {
  width: 80%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px #999;
  margin-top: 20px;
  -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2); -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2); box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

#navigation {
  text-align:right;
}

/* List Elements */

ul.servers, ul.images {
  list-style:none;
  margin:0;
  padding:0;
}

ul.servers li, ul.images li {
  /*list-style: none;*/
  display:block;
  padding:10px;
  margin:3px 0;
  border: 1px solid #ccc;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

/* Buttons */

a.button {
  padding:8px 12px 6px 12px;
  height:12px;
  line-height:10px;
  font-size:16px;
  display:inline-block;
  text-decoration:none;
  text-align:center;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

a.button.button-gray {
  color:#222;
  text-shadow: #ddd 0px 1px 1px;
  border:1px solid #aaa;
  background: -webkit-linear-gradient(top, #dfdfdf, #b9b9b9);background: -moz-linear-gradient(top, #dfdfdf, #b9b9b9); background-color: #b9b9b9;
}
a.button.button-gray:hover {
  background: -webkit-linear-gradient(top, #b9b9b9, #dfdfdf); background: -moz-linear-gradient(top, #b9b9b9, #dfdfdf); background-color: #dfdfdf;
}

a.button.button-red {
  color:#fff;
  text-shadow: #A80E1D 0px 1px 1px;
  border:1px solid #A80E1D;
  background: -webkit-linear-gradient(top, #fc7c6d, #e3111b);background: -moz-linear-gradient(top, #fc7c6d, #e3111b); background-color: #e3111b;
}
a.button.button-red:hover {background: -webkit-linear-gradient(top, #e3111b, #fc7c6d);
  background: -moz-linear-gradient(top, #e3111b, #fc7c6d); background-color:#fc7c6d;
}

/* Flash and Errors */

.flash-notice {
  color: #00B205;
}

.error_messages, #error_explanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 8px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 13px;
    margin: 0;
    background-color: #c00;
    color: #fff;
  }

  p { margin: 8px 10px; }
  ul { margin-bottom: 0; }
}

.field_with_errors {
  display: inline;
}

form .field, form .actions {
  margin: 12px 0;
}

ul.errors li {
  color: #DD0000;
  margin-bottom: 8px;
}